<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registrar cliente - EMYS</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark d-flex d-lg-flex align-items-start align-items-lg-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="font-size: 20PX;background-color: #ffffff;color: rgb(238,168,62);">
                    <div class="sidebar-brand-icon rotate-n-15"><img src="assets/img/emys2020-svg.svg" style="width: 31px;height: 31px;"></div>
                    <div class="sidebar-brand-text mx-3"><span>EMYS</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/dashboard}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/registrarcliente}"><i class="fas fa-file-signature"></i><span>Registrar Cliente</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/registrarlineadecredito}"><i class="fas fa-file-signature"></i><span>Registrar Línea de Crédito</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/registrartransaccion}"><i class="material-icons">monetization_on</i><span>Registrar Transacción</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/clientes}" style="opacity: 1;"><i class="fas fa-users" style="margin: -2px;"></i><span style="margin: 6px;">Clientes</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><i class="fa fa-user-circle" style="font-size: 26px;"></i></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Cerrar sesión</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Registrar Cliente</h3>
                <div class="row mb-3">
                    <div class="col">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Datos personales del cliente</p>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/insertarCliente}" th:object="${cliente}" method="post">
                                            <div class="form-row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group"><label for="NNombre"><strong>Nombres</strong></label><input class="form-control" type="text" name="NNombre" th:field="*{NNombre}" th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('NNombre')}" th:errors="*{NNombre}"></small> </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group"><label for="NApellido"><strong>Apellidos</strong></label><input class="form-control" type="text" name="NApellido" th:field="*{NApellido}" th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('NApellido')}" th:errors="*{NApellido}"></small> </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group"><label for="numTelefono"><strong>Telefono</strong></label><input class="form-control" type="number" name="numTelefono" th:field="*{numTelefono}" th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('numTelefono')}" th:errors="*{numTelefono}"></small> </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group"><label for="numDNI"><strong>DNI</strong></label><input class="form-control" type="text" name="numDNI" inputmode="numeric" th:field="*{numDNI}" th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('numDNI')}" th:errors="*{numDNI}"></small> </div>
                                                </div>
                                            </div>
                                            <p th:text="${mensaje}" class="form-text text-danger"></p>
                                            <div class="col"><a class="btn btn-primary btn-lg" role="button" style="width: 169px;margin-right: 25px;margin-top: 10px;margin-left: -12px;padding-right: 17px;" th:href="@{/dashboard}">Cancelar</a><input class="btn btn-primary btn-lg"
                                                type="submit" style="width: 169px;margin-top: 10px;margin-left: -11px;" value="Registrar"></input></div>
                                        	
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>